/* @override 
	http://dev.protectal.pl/wp-content/themes/protectal/style.css?ver=1.0
	http://www.protectal.pl/wp-content/themes/protectal/style.css?ver=1.0 */
	

/* LICENSE & DETAILS
   ==================================================

	Theme Name: Protectal

/* #General
================================================== */
html,
body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    background: #fff url('images/bg-map.jpg') no-repeat center 100px;
    background-size: cover;

}

body * {
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility;
}

a {
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Myriad Pro", Arial, Helvetica, Tahoma, sans-serif;
    font-weight: 300;
}

.hide-iframe iframe {
    visibility: hidden;
}

h1 {
    font-size: 24px;
    line-height: 34px;
}

h2 {
    font-size: 18px;
    line-height: 26px;
}

h3 {
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    margin-bottom: 15px;
}

h4 {
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 15px;
}

h5 {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 15px;
}

h6 {
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 10px;
}

p {
    font-size: 13px;
    line-height: 170%;
}

p:empty {
    /*display: none;
    	margin-bottom: 0;*/
}

ul ul, ul ol, ol ol, ol ul {
    margin-left: 0;
}
a.sf-button {
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    height: auto;
    padding: 5px 10px;
    margin: 0 20px 20px 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
    border: 0;
    text-shadow: none;
    text-decoration: none;
    font-weight: 400;
    background: none;
    background-image: none;
    color: #fff;
}
a.sf-button:hover {
    border: 0!important;
    box-shadow:0 2px 3px 0 rgba(0,0,0,.2);
    text-decoration: none!important;
}
.sf-button.red {
    background-color: #c91e14!important;
}
.sf-button.cream {
    background-color: #a8988b!important;
}
.sf-button.violet {
    background-color: #425198!important;
}
a.sf-button .arrow {
    background-image: url('images/button-arrow.png');
    display: inline-block;
    width: 6px;
    height: 9px;
    margin-left: 7px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
a.sf-button:hover .arrow {
    margin-left: 15px;
}
a.pdf_link{
    display: block;
    float: right;
    background: url('images/pdf_link.png') no-repeat 0 3px;
    width: 79px;
    height: 28px;
    text-indent: -999999px;
    background-size: 70px;
}
.no-js-alert {
    background: none repeat scroll 0 0 #222222;
    color: #FFFFFF;
    font-size: 24px;
    height: 100%;
    left: 0;
    opacity: 0.95;
    -moz-opacity: 0.95;
    filter: alpha(opacity= 95);
    padding: 20% 5% 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 90%;
    z-index: 9999;
}

img.size-full {
    max-width: 100%;
    height: auto;
}

.aligncenter, div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.no-margin {
    margin: 0;
}

.img-link {
    display: block;
}#not-found .page-text p {
    margin-bottom: 50px;
}

#main-container {
    display: block;
}

/*#page-wrap{
    background-color: #030303;
}*/
.has-left-sidebar aside.sidebar {
    float: left;
}

.has-left-sidebar article, .has-left-sidebar .type-page {
    border-left: none;
    padding-left: 30px;
    float: right !important;
}

.has-right-sidebar article, .has-right-sidebar .type-page, .has-right-sidebar .blog-listings {
    border-right: 1px solid transparent;
    padding-right: 30px;
}

.has-both-sidebars aside.left-sidebar {
    float: left;
}

.has-both-sidebars aside.right-sidebar {
    float: right;
}

.has-both-sidebars article, .has-both-sidebars .type-page {
    border-right: 1px solid transparent;
    padding-right: 30px;
    float: left;
}

.has-both-sidebars .page-content {
    border-left: 1px solid transparent;
    padding-left: 30px;
    float: right !important;
}

.page-content > ul {
    list-style: disc inside none;
}

.has-both-sidebars aside.sidebar {
    padding-top: 0;
}

.pb-margin-bottom {
    margin-bottom: 30px;
}

.pb-border-bottom {
    border-bottom: 1px dotted transparent;
}

.pb-border-top {
    border-top: 1px dotted transparent;
}

.wpb_wrapper .row-fluid {
    border-bottom: 0;
    margin-bottom: 10px;
}

h3.wpb_heading {
    display: inline-block;
    margin-bottom: 12px;
}

article.type-post, .top-spacing aside.sidebar, .top-spacing .page-content,
aside.sidebar, article.type-portfolio, article.type-team, .blog-listings,
.help-text, .has-both-sidebars article.type-post aside.left-sidebar,
.has-both-sidebars article.type-post .page-content, .has-both-sidebars aside.right-sidebar {
    padding-top: 30px;
}

.full-width {
    margin: 0 -30px !important;
    width: 1000px !important;
}

.fullwidth-layout .full-width {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 940px !important;
}

.help-text {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 60px;
}

.help-text .search-form {
    margin-bottom: 40px;
}

.help-text .search-form input {
    font-size: 12px;
}
.page-heading {
    padding: 23px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px dotted transparent;
}

.fullwidth-layout .page-heading, .fullwidth-layout .full-width.page-heading {
    padding: 23px 0;
    width: 100% !important;
    margin: 0 !important;
}

.page-heading.with-filtering h1 {
    width: 650px;
    float: left;
}

.page-heading h1 {
    margin-bottom: 0;
}

.heading-controls {
    float: right;
    margin-left: 10px;
}

.heading-rss-icon {
    display: block;
    float: right;
    position: relative;
    border: 1px solid transparent;
    width: auto;
    padding: 7px 11px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter: alpha(opacity=70);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.search-form input {
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: transparent;
    width: 85%;
    padding: 10px;
    margin-top: 40px;
}

span.tooltip {
    display: block;
    background: #d4d4d4;
    color: #444;
    position: absolute;
    left: 50%;
    bottom: 25px;
    padding: 3px 10px;
    width: auto;
    line-height: 20px;
    white-space: nowrap;
    z-index: 8;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

span.tooltip .arrow {
    position: absolute;
    left: 50%;
    bottom: -4px;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 5px solid #d4d4d4;
}

/* #Header
================================================== */

.home .breadcrumbs-wrap {
    display: none;
}

.breadcrumbs-wrap {
    margin: 0 -20px !important;
}

.fullwidth-layout .breadcrumbs-wrap {
    margin: 0 !important;
}

#breadcrumbs {
    font-size: 11px;
    padding: 4px 30px;
}

.fullwidth-layout #breadcrumbs {
    padding: 4px 0;
}

#breadcrumbs a {
    text-decoration: none;
}

#breadcrumbs i, .widget_breadcrumb_navxt i {
    padding: 0 8px;
    font-size: 11px;
    width: 5px;
}

#header-section {
    padding: 30px 20px 20px;
    margin: 0 -20px !important;
}

.fullwidth-layout #header-section {
    padding: 30px 0 30px;
    margin: 0 !important;
}

#header-section{
    background: #f6f6f6;
    background: #fff -moz-linear-gradient(top,#fff 0,#f6f6f6 100%);
    background: #fff -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#f6f6f6));
    background: #fff -webkit-linear-gradient(top,#fff 0,#f6f6f6 100%);
    background: #fff -ms-linear-gradient(top,#fff 0,#f6f6f6 100%);
    background: #fff -o-linear-gradient(top,#fff 0,#f6f6f6 100%);
    background: #fff linear-gradient(top,#fff 0,#f6f6f6 100%);
    -pie-background: linear-gradient(#fff 0,#f6f6f6 100%);
}


#header-section.logo-full {
    padding: 0;
}

#header-section.logo-full header {
    width: 100%;
    margin: 0;
    position: relative;
}

#header-section.logo-full #logo img {
    max-height: 100%;
}

#header-section.logo-full .header-items {
    position: absolute;
    right: 20px;
    top: 20%;
    display: block;
}

#header-section .header-spacer {
    display: block;
    height: 20px;
}

#logo a {
    display: block;
}

#logo img {
    display: block;
    max-width: auto;
}

.logo-right #logo img {
    float: right;
}

#logo h1 {
    display: none;
}

.logo-fade #logo a:hover {
    opacity: 0.6;
}

.header-items {
    text-align: right;
    position: relative;
    min-height: 60px;
}

.logo-right .header-items {
    text-align: left;
}

.header-items h3.phone-number {
    padding-top: 10px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 18px;
    clear: both;
}

.logo-right .header-items h3.phone-number {
    padding-top: 18px;
}

.header-items .social-wrap {
    float: right;
}

.logo-right .header-items .social-wrap, .logo-center .header-items .social-wrap {
    float: left;
}

.logo-center {
    position: relative;
}

.logo-center #logo img {
    margin: 0 auto;
}

.logo-center .social-wrap {
    position: absolute;
    bottom: 5px;
}

.logo-center .phone-number {
    position: absolute;
    bottom: 5px;
    right: 0;
}

.header-items .social-wrap ul {
    margin-bottom: 0;
}

.header-items ul.social-icons {
    margin-right: 0;
    list-style: none !important;
}

.header-items ul.social-icons li {
    margin: 0 0 0 8px;
}

#nav-section {
    margin: 0 -20px !important;
    position: relative;
    z-index: 22;
}

#nav-section.nav-shadow {
    -moz-box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .1);
}

.nav-accent-bar {
    background: #d0d0d0;
    background: #e8e8e8 -moz-linear-gradient(top,#e8e8e8 0,#d0d0d0 100%);
    background: #e8e8e8 -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e8e8e8),color-stop(100%,#d0d0d0));
    background: #e8e8e8 -webkit-linear-gradient(top,#e8e8e8 0,#d0d0d0 100%);
    background: #e8e8e8 -ms-linear-gradient(top,#e8e8e8 0,#d0d0d0 100%);
    background: #e8e8e8 -o-linear-gradient(top,#e8e8e8 0,#d0d0d0 100%);
    background: #e8e8e8 linear-gradient(top,#e8e8e8 0,#d0d0d0 100%);
    -pie-background: linear-gradient(#e8e8e8 0,#d0d0d0 100%);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5), 0px -1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5), 0px -1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.5), 0px -1px 2px rgba(0,0,0,0.2);
}

.fullwidth-layout #nav-section {
    margin: 0 !important;
}

#empty_box {
    display: block;
}

#main-navigation {
    margin-left: 18px;
    float: left;
    margin-top: 1px;
    position: relative;
}

.fullwidth-layout #main-navigation {
    margin-left: -3px;
}

#main-navigation > div {
    margin-left: 0;
}

#nav-pointer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #444;
    display: none;
}

.nav-indicator #nav-pointer {
    display: block;
    opacity: 1;
}

.single #nav-pointer {
    display: none;
}

.error404 #nav-pointer {
    display: none;
}

nav .menu {
    z-index: 9999;
    height: auto;
    margin-bottom: 0;
    position: relative;
}

nav .menu li {
    float: left;
    display: inline-block;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    position: relative;
    text-transform: uppercase;
}

.menu-dividers nav .menu li {
    background: transparent url('images/nav-divider.png') no-repeat center left;
}

nav .menu li:first-child {
    margin-left: 0;
    background: none;
}

.sub-menu {
    display: none;
}

.menu-dividers nav .menu .sub-menu li {
    background: none;
}

nav .menu li a {
    text-decoration: none;
    padding: 12px 12px 12px;
    display: block;
    white-space: nowrap;
    background: transparent;
    font-weight: 400;
    font-size: 14px;
}
nav .menu ul {
    background-color: rgba(216, 215, 216, 0.9);
    position: absolute;
    height: auto;
    z-index: 9999;
    margin: 0;
    top: 37px;
    left: -20px;
    min-width: 100px;
    -moz-opacity: 0;
    filter: alpha(opacity: 0);
    opacity: 0;
    display: none;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

nav .menu ul li {
    width: 100%;
    position: relative;
    display: block;
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid transparent;
    float: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 11px;
    text-transform: none;
    height: auto;
    z-index: 42;
}
nav .menu ul li:hover{
    background: #9b9a9a;
}

nav .menu .sub-menu .parent > a:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #444;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -4px;
}

nav .menu ul ul {
    top: -1px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

nav .menu ul ul li:first-child:after {
    left: -8px;
    top: 32%;
    margin-top: 0;
    border-top: 6px solid transparent;
    border-right: 6px solid #444;
    border-bottom: 6px solid transparent;
}

nav .menu ul li:last-child {
    border: 0;
}

nav .menu ul li a {
    padding: 8px 24px 8px 12px;
    display: block;
    margin-bottom: 0;
    white-space: nowrap;
}

nav .menu li.sfHover ul a {
    color: #3F3E3C;
}

nav .menu li.sfHover ul a:hover {
    color: #b7b7b7;
}

nav .menu li:hover ul li a {
    background-color: transparent;
}

#mobile-navigation {
    display: none;
    width: 80%;
    float: left;
    margin: 15px 10%;
    position: relative;
}

#mobile-navigation .selected-option {
    position: absolute;
    top: 5px;
    z-index: 2;
    left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
}

#mobile-navigation > div {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    font-size: 12px;
    background: #F1F1F1 url(images/select.png) no-repeat right center;
    border-color: #CCC #E6E6E6 #E6E6E6 #CCC;
    border-style: solid;
    border-width: 1px;
    height: 26px;
    margin: 0 auto;
    width: 100%;
    display: block;
    color: #888;
    position: relative;
}

#mobile-navigation > div select {
    cursor: pointer;
    height: 28px;
    margin: 0;
    -moz-opacity: 0;
    filter: alpha(opacity: 0);
    opacity: 0;
    padding: 0;
    position: relative;
    width: inherit;
    z-index: 4;
    display: block;
    top: 0;
}

#header-search, #header-subscribe {
    margin-top: 10px;
    display: none;
    margin: 0px -20px !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
    padding-left: 30px;
}

.fullwidth-layout #header-search, .fullwidth-layout #header-subscribe,
.fullwidth-layout #header-translation {
    padding-left: 20px;
}

.fullwidth-layout #header-search, .fullwidth-layout #header-subscribe,
.fullwidth-layout #header-login, .fullwidth-layout #header-translation {
    margin: 0px -10px !important;
}

#header-search form, #header-subscribe form {
    margin-bottom: 0;
}

#header-search span, #header-subscribe span {
    display: inline-block;
    padding: 7px 4px 7px 7px;
    margin-right: 4px;
}

#header-search span:hover, #header-subscribe span:hover {
    cursor: pointer;
}

#header-search input, #header-subscribe input {
    display: inline-block;
    width: 96%;
    max-width: none;
    text-align: left;
    border: 0;
    margin: 9px 0;
    padding: 0;
    background: none;
    font-size: 16px;
}

#header-search input:focus, #header-subscribe input:focus {
    border: 0;
    box-shadow: none;
}

#header-search input[type="text"]:focus, #header-subscribe input[type="text"]:focus {
    box-shadow: none;
    text-align: left;
}

#header-translation {
    margin-top: 10px;
    display: none;
    margin: 0px -20px !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
    padding-left: 30px;
}

#header-translation p {
    color: white;
    padding: 10px 0;
    margin-bottom: 0;
}

#header-translation p a {
    text-decoration: none;
}

#header-login {
    margin-top: 10px;
    display: none;
    margin: 0px -20px !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
}

#header-login form {
    float: left;
    width: 73%;
}

#header-login form, #header-login input {
    margin-bottom: 0;
}

#header-login #username {
    background: none;
    border: 0;
    color: #fff;
    display: inline-block;
    width: 30%;
    max-width: none;
    text-align: left;
    border: 0;
    padding: 10px 0 10px 20px;
    font-size: 18px;
}

#header-login #password {
    background: none;
    border: 0;
    color: #fff;
    display: inline-block;
    width: 55%;
    max-width: none;
    text-align: left;
    border: 0;
    padding: 10px 0 10px 20px;
    font-size: 18px;
}

#header-login .recover-password {
    float: right;
    width: 23%;
    text-align: right;
    padding: 0 20px 0;
    text-decoration: none;
    line-height: 41px;
}

.fullwidth-layout #header-login .recover-password {
    padding-right: 0;
}

#header-login form #submit {
    padding: 0;
}

#header-login .logout-link {
    color: #fff;
    margin-left: 30px;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 0;
    display: block;
    float: left;
}

#header-login span {
    margin: 0 12px;
    font-size: 18px;
    padding: 10px 0;
    display: block;
    float: left;
}

#header-login .admin-link {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 0;
    display: block;
}

#menubar-controls {
    text-align: right;
    float: right;
    line-height: 32px;
    padding-left: 0;
    margin-left: 0;
}

.fullwidth-layout #menubar-controls {
    padding-left: 0;
    margin-right: 0;
}

.fullwidth-layout #header-login .logout-link {
    margin-left: 20px;
}

#menubar-controls .control-item {
    display: inline-block;
    position: relative;
    margin-right: -3px;
    padding-top: 3px;
}

.menu-dividers #menubar-controls .control-item {
    background: transparent url('images/nav-divider.png') no-repeat center left;
}

#menubar-controls .control-item.selected-item:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 6px;
    margin-left: -6px;
    margin-top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #444;
}

#menubar-controls a {
    text-decoration: none;
    font-size: 14px;
}

#menubar-controls a i {
    padding: 0;
    text-align: center;
}

#menubar-controls a i:first-child {
    padding-left: 0;
}

.dividers-disabled #menubar-controls a i {
    padding: 0 10px;
}

#menubar-controls .control-item:first-child {
    background: none;
}

#menubar-controls a:hover {
    cursor: pointer;
}

#header-language-flags {
    margin: 0 0 0 7px;
    padding: 13px 0;
}

.fullwidth-layout #header-language-flags {
    margin: 0 0 0 -3px;
}

#header-language-flags li {
    float: left;
    margin: 0 15px 0 0;
}

#header-language-flags li a, #header-language-flags .current-language {
    display: block;
    padding: 3px;
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter: alpha(opacity=70);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#header-language-flags li a:hover, #header-language-flags .current-language {
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
}

#header-language-flags li img {
    display: block;
}

#mini-header {
    margin: 0 -20px !important;
    padding-right: 20px;
    border-top: 0 solid #CCC;
    display: block;
    position: fixed;
    top: -80px;
    z-index: 999;
}

#mini-header.nav-accent-bar {
    border-top-width: 2px;
}

#mini-header {
    width: 980px;
}

.fullwidth-layout #mini-header {
    margin: 0 !important;
    padding-right: 0;
    width: 100%;
}

#mini-navigation {
    margin-left: 18px;
}

.fullwidth-layout #mini-navigation {
    margin-left: -10px;
}

#mini-search {
    padding-left: 20px;
}

.fullwidth-layout #mini-search {
    padding-left: 10px;
}

#mini-search a {
    text-decoration: none;
}

#mini-search i {
    display: inline-block;
    float: right;
    line-height: 38px;
    font-size: 14px;
}

#mini-search form {
    display: inline-block;
    margin-bottom: 0;
    float: right;
}

#mini-search input {
    float: right;
    display: inline-block;
    width: 0;
    max-width: none;
    text-align: left;
    border: 0;
    margin: 0;
    padding: 12px 0 12px 4px;
    background: none;
    font-size: 12px;
    font-family: "Myriad Pro", Arial, Helvetica, Tahoma, sans-serif;
}

#mini-search input:focus {
    outline: none;
    border: 0;
    box-shadow: none;

}

/* #Footer
================================================== */

#footer {
    padding: 40px 0 0;
    border-top: 1px solid transparent;
}

#footer a {
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

#copyright {
    width: 100%;
    padding: 10px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    overflow: hidden;
    background: #f6f6f6;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5), 0px -1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5), 0px -1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.5), 9px -1px 5px rgba(0,0,0,0.2);
}

#copyright p {
    float: left;
    margin-bottom: 0;
}


a#footer_logo {
    display: block;
    float: left;
    width: 160px;
    height: 50px;
    background: url('images/logo.png') no-repeat left top;
    background-size: 100%;
    text-indent: -9999px !important;
    opacity: 1;
}

a#footer_logo:hover {
    opacity: 0.4;
}
#copyright .facebook_like{
    float: right;
    text-align: right;
    margin-top: 15px;
}
iframe ._51mz{
    float: right !importnt;
}
/* #Sidebar
================================================== */

.container .sidebar.four.columns {
    width: 179px;
}

.container .sidebar.five.columns {
    width: 239px;
}

.sidebar {
    padding-bottom: 40px;
}

.left-sidebar {
    padding-right: 10px;
}

.right-sidebar {
    padding-left: 10px;
}

.sidebar .widget-heading h3 {
    display: block;
    font-weight: normal;
    padding-bottom: 17px;
    margin-bottom: 18px;
    border-bottom: 1px dotted transparent;
}

.left-sidebar .widget {
    padding-bottom: 0;
}

.right-sidebar .widget {
    padding-bottom: 40px;
}

.sidebar .widget:first-child {
    border: 0;
    padding-top: 0;
}

.widget > ul {
    margin-top: -19px;
    margin-bottom: -6px;
}

#sidebar .widget ul.children {
    margin: 10px 0 10px 10px;
}

.sidebar .widget.flickr-widget li {
    width: 73px;
    height: 73px;
    border: 0;
    padding: 0;
}

.sidebar .flickr-widget li img {
    height: 73px;
    width: auto;
    min-height: 73px;
    min-width: 73px;
}

.widget ul li {
    margin-bottom: 0;
    line-height: 16px;
    border-top: 1px dotted transparent;
    border-bottom-style: dotted;
}


.widget ul li:first-child {
    border-top: 0;
    padding-top: 0;
}

.widget ul li > a {
    padding: 8px 0;
    display: block;
    text-align: left;
    text-transform: uppercase;
    font-weight: 400;
}

.widget ul li a {
    border-top: #d4d4d4 1px solid;
}

.widget ul li.sidebar-parent > a{
    background: url('images/button-arrow2.png') no-repeat right 12px;
}
.widget ul li.sidebar-parent > a:hover{
    background: #f2f2f2 url('images/button-arrow2.png') no-repeat right 12px;
}
.widget ul li.current_page_item a{
    color: #af2c24;
    background-color: #f3f1f1;
}
.widget ul li.current_page_item ul.sub-menu li a{
    color: #322e2e;
    background-color: #fff !important;
}
.widget ul li a:hover, .widget ul li.current_page_item ul.sub-menu li a:hover {
    background-color: #f2f2f2;
    color: #af2c24;
}

.widget ul li:last-child a {
    border-bottom: #d4d4d4 1px solid;
}

.widget ul li ul.sub-menu li a {
    border-top: #d4d4d4 1px solid;
    padding-left: 15px;
}

.widget ul li ul.sub-menu li:last-child a {
    border-bottom: none;
}

.widget a {
    text-decoration: none;
}

.sidebar a {
    color: #322e2e;
}

/* #Contact
================================================== */

.contact-map {
    margin-bottom: 30px;
}

.contact-form h6 {
    margin-bottom: 10px;
}

.contact-form p.thanks {
    display: none;
}

.contact-form label {
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 6px;
}

.contact-form input, .contact-form textarea {
    width: 96%;
}

.contact-form textarea {
    height: 189px;
}

.contact-form h5 {
    margin-bottom: 10px;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    background: #312e2e;
    text-shadow: none;
    color: #fff;
    border: 0;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover,
input[type="button"]:hover {
    background: #444141;
    border-width: 0;
}


/*========== Contact Form Shortcode ==========*/

.wpcf7 p {
    clear: both;
    height: auto;
    overflow: hidden;
    margin-bottom: 0;
}

span.wpcf7-form-control-wrap {
    display: block;
}

.wpcf7 span.wpcf7-not-valid-tip {
    top: 3px;
    left: 5px;
    background: transparent;
    color: red;
    border: 0;
}

.wpcf7 .wpcf7-captchar + span.wpcf7-not-valid-tip {
    top: 10px;
    left: 78px;
}

.wpcf7 input[type="text"], .wpcf7 textarea, .wpcf7 select {
    width: 95%;
    margin-top: 0px;
    margin-bottom: 7px;
}

.sidebar .wpcf7 input[type="text"], .sidebar .wpcf7 textarea, .sidebar .wpcf7 select {
    width: 88%;
}

.wpcf7 textarea {
    max-width: 95%;
}

.wpcf7 .wpcf7-captchac {
    float: left;
    border: 1px solid #CCC;
    padding: 3px 0 4px;
    margin: 6px 10px 0 0;
}

.wpcf7 input.wpcf7-captchar {
    float: left;
    width: 45%;
}

.wpcf7 input.wpcf7-submit[type="submit"] {
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    height: auto;
    padding: 5px 20px 5px 10px;
    background-image: url('images/button-arrow.png');
    background-position: 90% center;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.wpcf7 input.wpcf7-submit[type="submit"]:hover {
    padding-right: 26px;
}

/*========== Column Shortcodes ==========*/

.one_half {
    width: 48%;
}

.one_third {
    width: 30.66%;
}

.two_third {
    width: 65.33%;
}

.one_fourth {
    width: 22%;
}

.three_fourth {
    width: 74%;
}

.one_half, .one_third, .two_third, .three_fourth, .one_fourth {
    position: relative;
    margin-right: 4%;
    float: left;
}

.last {
    margin-right: 0 !important;
    clear: right;
}

.clearboth {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
}

/*========== Divider Shortcode ==========*/

.horizontal-break {
    height: 1px;
    width: 100%;
    margin: 30px 0;
}

/*========== Typography Shortcodes ==========*/

span.highlighted {
    padding: 1px 3px;
    border-radius: 1px;
    margin-right: 2px;
    color: #fff;
}

span.dropcap1, span.dropcap2 {
    float: left;
    padding: 11px 0px 9px;
    margin-right: 8px;
    font-size: 46px;
    font-family: serif;
    font-style: normal;
}

span.dropcap3, span.dropcap4 {
    float: left;
    font-family: serif;
    font-style: normal;
    font-size: 18px;
    padding: 6px 10px;
    margin: 4px 10px 2px 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

span.dropcap4 {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

blockquote {
    border-left: 0;
    padding: 10px 0;
}

blockquote, blockquote p {
    font-size: 18px;
    line-height: 28px;
    font-style: italic;
}

blockquote.blockquote1, blockquote.blockquote1 p, blockquote.pullquote,
blockquote.pullquote p {
    font-size: 12px;
    line-height: 18px;
}

blockquote.blockquote2, blockquote.blockquote1 p {
    font-size: 14px;
    line-height: 22px;
}

blockquote.pullquote {
    border-left: 1px dotted transparent;
    padding: 0 0 0 20px;
}

/*========== List Shortcode ==========*/

.sf-list {
    margin-left: 0;
    list-style: none !important;
}

.sf-list li {
    padding: 0 0 0 20px;
}

.list-add_bw li {
    background: transparent url('images/list-icons/add_b&w.png') no-repeat 2px 3px;
}

.list-add li {
    background: transparent url('images/list-icons/add_colour.png') no-repeat 2px 3px;
}

.list-arrow_bw li {
    background: transparent url('images/list-icons/arrow_b&w.png') no-repeat left 3px;
}

.list-arrow li {
    background: transparent url('images/list-icons/arrow_colour.png') no-repeat left 3px;
}

.list-article li {
    background: transparent url('images/list-icons/article_b&w.png') no-repeat left 3px;
}

.list-bar li {
    background: transparent url('images/list-icons/bar_b&w.png') no-repeat left 6px;
}

.list-bolt_bw li {
    background: transparent url('images/list-icons/bolt_b&w.png') no-repeat 2px 3px;
}

.list-bolt li {
    background: transparent url('images/list-icons/bolt_colour.png') no-repeat 2px 3px;
}

.list-date li {
    background: transparent url('images/list-icons/date_b&w.png') no-repeat left 3px;
}

.list-delete_bw li {
    background: transparent url('images/list-icons/delete_b&w.png') no-repeat 1px 4px;
}

.list-delete li {
    background: transparent url('images/list-icons/delete_colour.png') no-repeat 1px 4px;
}

.list-dot li {
    background: transparent url('images/list-icons/dot_b&w.png') no-repeat 2px 5px;
}

.list-like_bw li {
    background: transparent url('images/list-icons/like_b&w.png') no-repeat left 3px;
}

.list-like li {
    background: transparent url('images/list-icons/like_colour.png') no-repeat left 3px;
}

.list-pen li {
    background: transparent url('images/list-icons/pen_b&w.png') no-repeat left 3px;
}

.list-question_bw li {
    background: transparent url('images/list-icons/questionMark_b&w.png') no-repeat left 3px;
}

.list-question li {
    background: transparent url('images/list-icons/questionMark_colour.png') no-repeat left 3px;
}

.list-settings_bw li {
    background: transparent url('images/list-icons/settings_b&w.png') no-repeat left 3px;
}

.list-settings li {
    background: transparent url('images/list-icons/settings_colour.png') no-repeat left 3px;
}

.list-star_bw li {
    background: transparent url('images/list-icons/star_b&w.png') no-repeat left 3px;
}

.list-star li {
    background: transparent url('images/list-icons/star_colour.png') no-repeat left 3px;
}

.list-tick_bw li {
    background: transparent url('images/list-icons/tick_b&w.png') no-repeat left 3px;
}

.list-tick li {
    background: transparent url('images/list-icons/tick_colour.png') no-repeat left 3px;
}

.list-user li {
    background: transparent url('images/list-icons/user_b&w.png') no-repeat left 3px;
}

.list-warning_bw li {
    background: transparent url('images/list-icons/warning_b&w.png') no-repeat left 3px;
}

.list-warning li {
    background: transparent url('images/list-icons/warning_colour.png') no-repeat left 3px;
}

/*========== Login Styles ==========*/

.icon-file {
    background: url('images/small_logo.png') no-repeat center center;
}

.portfolio-item-title-inside {
    position: absolute;
    bottom: 0;
    z-index: 4;
    width: 100%;
}

ul#findipinfowp, section#ip-address-widget {
    float: right;
    width: auto;
    height: 24px;
    margin-top: 0;
}

ul#findipinfowp li {
    float: left;
    padding-right: 30px;
    border: none;
    color: #666666;
}

ul#findipinfowp li:last-child {
    padding-right: 0;
}


/* Top of the Page */

div#content-featured-image, .slider {
    position: relative;
    min-height: 40px;
    margin-bottom: 10px;
}

div#content-featured-image div#content-featured-image-heading, .slider #content-featured-image-heading{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    padding-left: 50px;
    height: 40px;
    /*background: transparent url('images/content-featured-image-bg.png') no-repeat left top;*/
}

div#content-featured-image div#content-featured-image-heading h1, .slider #content-featured-image-heading h1{
    position: relative;
    background: #f2f2f2;
    height: 35px;
    padding: 0 10px 0 5px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #322e2e;
}
div#content-featured-image div#content-featured-image-heading h1:before, .slider #content-featured-image-heading h1:before{
    content: '';
    display: block;
    position: absolute;
    left: -25px;
    bottom: 0;
    height: 0; 
    width: 0;
    border-bottom: 35px solid #f2f2f2;
    border-left: 25px solid transparent;
}

/* Sidebar Navigation */
.has-left-sidebar aside.sidebar {
    padding-top: 30px;
}

.has-left-sidebar aside.sidebar ul {
    margin: 0;
}

.has-left-sidebar aside.sidebar ul li {
    padding: 0;
    line-height: 16px;
    /*border-bottom: 1px solid #333;*/

}

.has-left-sidebar aside.sidebar ul li ul {
    margin: 0;
}

.has-left-sidebar aside.sidebar ul li ul li {
    border: none;
    font-size: 11px;
}

#sb_cl_pages_widget-2 ul li ul li a {
    padding-right: 10px;
    background: transparent url('images/small_dash.gif') no-repeat right 5px;
    opacity: 0.4;
}
.has-left-sidebar aside.sidebar ul li{
    
}
#sb_cl_pages_widget-2 ul li ul li a:hover {
    opacity: 1;
}

.wpb_wrapper p {
    color: #333;
}

.wpb_tabs.minimal .ui-state-active, .wpb_tabs.minimal .ui-state-active:hover,
.wpb_tabs.left_minimal .ui-state-active, .wpb_tabs.left_minimal .ui-state-active:hover,
.wpb_content_element .ui-widget-header .ui-state-active {
    background: #333;
    border: none;
}

#container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -71px;
}

.copyright, .push {
    height: 50px;
    padding: 10px;
}
a.zoom-effect{
    position: relative;
    display: block;
}
.portfolio-item figure .overlay, .blog-item figure .overlay, .wpb_single_image figure.lightbox .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    z-index: 4;
    opacity: 0;
    -moz-opacity: 0;
    filter:alpha(opacity=0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.portfolio-item figure:hover .overlay, .blog-item figure:hover .overlay, .wpb_single_image figure.lightbox:hover .overlay {
    opacity: 0.85;
    -moz-opacity: 0.85;
    filter:alpha(opacity=85);
}
.portfolio-item figure .thumb-info, .blog-item figure .thumb-info, .wpb_single_image figure.lightbox .thumb-info {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -moz-opacity: 0;
    filter:alpha(opacity=0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-backface-visibility: hidden; /*for a smooth font */
}
.portfolio-item figure:hover .thumb-info, .blog-item figure:hover .thumb-info, .wpb_single_image figure.lightbox:hover .thumb-info {
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=100);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.portfolio-item .thumb-info h4 {
    position: absolute;
    top: 50%;
    font-size: 14px;
    line-height: 20px;
    padding: 0 10%;
    width: 80%;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0,0,0,.5);
}
.portfolio-item .thumb-info i, .blog-item .thumb-info i, .wpb_single_image .thumb-info i {
    width: 100%;
    position: absolute;
    top: 50%;
    font-size: 36px;
    margin-top: -15px;
    height: 30px;
    line-height: 33px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.5);
    text-align: center;
}
.portfolio-item .thumb-info i.small-icon {
    font-size: 24px;
    top: 40%;
}
.wpb_single_image figure .overlay {
    box-shadow: inset 0 0 0 380px #c91e14;
    color: #fff;
}
.wpb_single_image.oferta1  figure .overlay {
    box-shadow: inset 0 0 0 380px #c91e14;
}
.wpb_single_image.oferta2  figure .overlay {
    box-shadow: inset 0 0 0 380px #425198;
}
.wpb_single_image.oferta3  figure .overlay {
    box-shadow: inset 0 0 0 380px #a8988b;
}
.wpb_single_image img {
    width: 100%;
    height: auto;
    display: block;
}
figure.lightbox {
    position: relative;
}

.flexslider {
    background: transparent;
    border: 0;
    width: 100%;
    z-index: 2;
    display: block;
    position: relative;
    overflow: hidden;
}
.flexslider ul.slides {
    background: #222;
    margin: 0;
    height: auto;
    overflow: hidden;
    list-style: none!important;
}
.flexslider .slides li {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: 0;
}
.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}
.flexslider .slides li img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block!important;
}
.flex-direction-nav, .flex-direction-nav li, .wooslider-direction-nav, .wooslider-direction-nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.flex-direction-nav a, .wooslider-direction-nav a {
    width: 30px;
    height: 36px;
    margin: -20px 0 0;
    display: block;
    background: transparent url('images/showcase-nav.png') no-repeat 0 0;
    position: absolute;
    top: 50%;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 0;
    filter:alpha(opacity=0);
    -webkit-transition: all .3s ease;
}
.flex-direction-nav .next, .wooslider-direction-nav .wooslider-next {
    background-position: 100% 0;
    right: -36px;
}
.flex-direction-nav .prev, .wooslider-direction-nav .wooslider-prev {
    left: -36px;
}
.tp-leftarrow, .tp-leftarrow.large, .tp-leftarrow.square, .tp-leftarrow.round, .tp-leftarrow.default {
    background: transparent url('images/showcase-nav.png') no-repeat 0 0;
    width: 30px;
    height: 36px;
    display: block;
    margin: 0;
    position: absolute;
    top: 50%!important;
    left: -36px!important;
    margin-top: -18px;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 0;
    filter:alpha(opacity=0);
    -webkit-transition: all .3s ease;
    background-position: top left!important;
}
.tp-rightarrow, .tp-rightarrow.large, .tp-rightarrow.square, .tp-rightarrow.round, .tp-rightarrow.default {
    background: transparent url('images/showcase-nav.png') no-repeat 100% 0;
    width: 30px;
    height: 36px;
    display: block;
    margin: 0;
    position: absolute;
    top: 50%!important;
    right: -36px!important;
    margin-top: -18px;
    left: auto!important;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 0;
    filter:alpha(opacity=0);
    -webkit-transition: all .3s ease;
}
.rev_slider_wrapper, .rev_slider {
    width: 100%!important;  
}
.rev_slider_wrapper {
    height: auto!important;
}
.tp-bannertimer {
    z-index: 20!important;
}
.rev_slider iframe {
    z-index: 999;
}
.flexslider:not(.thumb-slider):hover .next, .rev_slider_wrapper:hover .tp-rightarrow, .wooslider:hover .wooslider-next {
    opacity: 1;
    filter:alpha(opacity=100);
    right: 0!important;
}
.flexslider:not(.thumb-slider):hover .prev, .rev_slider_wrapper:hover .tp-leftarrow, .wooslider:hover .wooslider-prev {
    opacity: 1;
    filter:alpha(opacity=100);
    left: 0!important;
}
.flex-direction-nav .disabled {
    opacity: .3!important;
    filter:alpha(opacity=30);
    cursor: default;
}
.thumb-slider .flex-direction-nav {
    bottom: 0;
    right: 26px;
    z-index: 99;
}
.thumb-slider .flex-direction-nav li {
    float: left;
}
.thumb-slider .flex-direction-nav a {
    opacity: 1;
    margin: 0;
    width: 21px;
    height: 26px;
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter:alpha(opacity=50);
    z-index: 99;
    background: transparent url('images/slider-thumb-controls.png') no-repeat 0 0;
}
.thumb-slider .flex-direction-nav .next {
    position: absolute;
    background-position: -21px 0;
    right: 26px;
    bottom: 0;
    top: auto;
}
.thumb-slider .flex-direction-nav .prev {
    position: absolute;
    right: 47px;
    bottom: 0;
    top: auto;
    left: auto;
}
.thumb-slider:hover .flex-direction-nav a {
    opacity: 0.5!important;
    -moz-opacity: 0.5!important;
    filter: alpha(opacity=50)!important;
}
.thumb-slider:hover .next {
    right: 26px!important;
}
.thumb-slider:hover .prev {
    left: auto!important;
}
.thumb-slider .open-item a {
    width: 26px;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter: alpha(opacity=50);
    display: block;
    z-index: 99;
    background-color: rgb(33, 33, 33);
    background-color: rgba(33, 33, 33, 1);
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 4px 0;
}
.open-item a i {
    vertical-align: 0;
}
.thumb-slider  .flex-direction-nav li:hover > a, .thumb-slider .open-item:hover > a {
    opacity: 1!important;
    -moz-opacity: 1!important;
    filter:alpha(opacity=100)!important;
}
.flex-control-nav {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    z-index: 4;
    list-style: none!important;
}
.flex-control-nav li {
    float: left;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0;
}
.flex-control-nav li a {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #fff;
    width: 10px;
    height: 10px;
    display: block;
    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter:alpha(opacity=50);
}
.blog-slider .flex-control-nav li a, .thumb-slider .flex-control-nav li a {
    width: 8px;
    height: 8px;
}
.flex-control-nav li a:hover {
    cursor: pointer;
}
.flex-control-nav li a.active {
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=100);
}
.flex-pauseplay {
    position: absolute;
    color: #fff;
    bottom: 18px;
    left: 20px;
    font-size: 13px;
    height: 13px;
}
.flex-pauseplay span:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
}
.flex-pauseplay .pause:before {
    content: "\f04c";
}
.flex-pauseplay .play:before {
    content: "\f04b";
}
.blog-slider .flex-pauseplay, .thumb-slider .flex-pauseplay {
    bottom: 16px;
    font-size: 11px;
    height: 13px;
}
.flex-pauseplay:hover {
    cursor: pointer;
}
.flex-pauseplay span {
    height: 11px;
    display: block;
    line-height: 13px;
}
.thumb-slider .flex-control-nav, .thumb-slider .flex-pauseplay {
    display: none;
}
.tp-bullets.simplebullets.round {
    bottom: 25px!important;
}
.tp-bullets.simplebullets.round .bullet {
    cursor: pointer;
    position: relative;
    background: white;
    width: 10px;
    height: 10px;
    margin-right: 7px;
    float: left;
    margin-top: 0;
    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    opacity: 0.5;
    border-radius: 5px;
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter:alpha(opacity=50);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.tp-bullets.simplebullets.round .bullet.selected {
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=100);
}
.wooslider {
    background: transparent!important;
    border: 0!important;
    -webkit-border-radius: 0!;
    -moz-border-radius: 0!important;
    -o-border-radius: 0!important;
    border-radius: 0!important;
}
body .wooslider .slide-content {
    margin: 0!important;
}
.wooslider li .slide-content > p {
    margin-bottom: 0;
}
.wooslider .slide-title {
    font-size: 18px;
    line-height: 24px;
}
.wooslider .slide-title a {
    color: #fff;
    text-decoration: none;
}
.wooslider-control-thumbs {
    position: absolute;
    z-index: 99;
    text-align: center;
}
.wooslider-control-thumbs li {
    width: 6%;
    float: none;
}
body .wooslider-control-thumbs li > img {
    border: 2px solid #fff!important;
}
p.flex-caption {
    text-shadow: none;
    background: rgba(0, 0, 0, .4);
}
